// Tables
$color_table_striped: #fcfcfc; //lighten($color_base_theme, 50%); //#f5fcff;
$color_table_header_hover: #e6e6e6; /*E0E6E8*/
$color_table_sortlinks_bg: $color_white;;
$color_table_loading_text: #ccc;
