// View
$dim_view_header_height: 60px;

// Panels
$dim_panel_border_radius: 2px;

// Left Nav
$dim_left_nav_collapsed_width: 90px;
$dim_left_nav_width: 180px;
$dim_left_nav_xs_width: 220px;
$dim_left_nav_xs_opener: 35px;
