.date-picker
{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    input
    {
        width: 150px;
        border-radius: 0px;
        border-top: 2px solid #dedede;
        border-bottom: 2px solid #dedede;
        border-left: 2px solid #dedede;
        border-right: none;
        line-height: 1.4;
        box-shadow: none;
        display: inline-block;
        &:focus {
            border-color: #dedede;
            box-shadow: none;
            outline: none;
        }
    }

    button.cal-btn
    {
        line-height: 1.3;
        border-radius: 0;
        border: 2px solid #dedede;
        border-left: none;
        margin: -2px 0 0 -4px;
        &:hover {
            background: $color_white;
        }
        &:focus {
            background: $color_white;
            border: 2px solid #dedede;
            border-left: none;
            outline: none;
            box-shadow: none;
        }
    }

    ul.dropdown-menu li {
        button {
            border: none;
        }
        table:focus {
            outline: none;
        }
    }
}
