.value-emphasize
{
    font-weight: 100;
    display: block;
    font-size: 1.85em;
}

.value-danger
{
    color: $brand-danger;
}

.value-success
{
    color: $brand-success;
}

.value-warning
{
    color: $brand-warning;
}


.value-caution
{
    color: $brand-caution;
}
