@import "util/javascript";

.ugly-header {
    width: 350px;
    padding: 10px;
    text-align: center;
    background-color: #D41601;
    color:whiteSmoke;
    position: absolute;
    right: 30%;
    top:0px;
    font-weight: 400;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.9em;
    z-index: 1000;
}
